h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
  
}

.container {
    width: 1280px;
    margin: auto;
}

/* ---------HEADER--------- */

.header {
    display: inline-flex;
    padding-left: 16px;
}

.header-logo {

}
.header-wrap {
}
.header-nav {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
}
.header-button {
}